.Collapsible {
  background-color: rgba($color: #007bff, $alpha: 0.8);
  margin-top: 10px;
  .Collapsible__trigger {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-family: monospace, Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
  }
  .Collapsible__contentOuter {
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    padding-left: 20px;
  }
}